<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ha5fun.finalwork.mapper.RpmsBuildMapper">
  <resultMap id="BaseResultMap" type="com.ha5fun.finalwork.pojo.RpmsBuildPojo">
    <id column="build_id" jdbcType="INTEGER" property="buildId" />
    <result column="build_name" jdbcType="VARCHAR" property="buildName" />
    <result column="build_start" jdbcType="DATE" property="buildStart" />
    <result column="build_finish" jdbcType="DATE" property="buildFinish" />
    <result column="build_leak" jdbcType="VARCHAR" property="buildLeak" />
    <result column="build_area" jdbcType="FLOAT" property="buildArea" />
    <result column="build_delete" jdbcType="INTEGER" property="buildDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    build_id, build_name, build_start, build_finish, build_leak, build_area, build_delete
  </sql>
  <select id="selAllBuildings" resultType="com.ha5fun.finalwork.pojo.RpmsBuildPojo">
    select build_id, build_name, build_start, build_finish, build_leak, build_area, build_delete
    from finalwork.RPMS_build
  </select>

  <update id="deleteByPrimaryKey" parameterType="int">
    update RPMS_build set build_delete = 1 where build_id = #{buildId}
  </update>

  <update id="reDelBuild" parameterType="int">
    update RPMS_build set build_delete = 0 where build_id = #{buildId}
  </update>















  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from RPMS_build
    where build_id = #{buildId,jdbcType=INTEGER}
  </select>
  <insert id="insert" keyColumn="build_id" keyProperty="buildId" parameterType="com.ha5fun.finalwork.pojo.RpmsBuildPojo" useGeneratedKeys="true">
    insert into RPMS_build (build_name, build_start, build_finish, 
      build_leak, build_area, build_delete
      )
    values (#{buildName,jdbcType=VARCHAR}, #{buildStart,jdbcType=DATE}, #{buildFinish,jdbcType=DATE}, 
      #{buildLeak,jdbcType=VARCHAR}, #{buildArea,jdbcType=FLOAT}, #{buildDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="build_id" keyProperty="buildId" parameterType="com.ha5fun.finalwork.pojo.RpmsBuildPojo" useGeneratedKeys="true">
    insert into RPMS_build
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buildName != null">
        build_name,
      </if>
      <if test="buildStart != null">
        build_start,
      </if>
      <if test="buildFinish != null">
        build_finish,
      </if>
      <if test="buildLeak != null">
        build_leak,
      </if>
      <if test="buildArea != null">
        build_area,
      </if>
      <if test="buildDelete != null">
        build_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buildName != null">
        #{buildName,jdbcType=VARCHAR},
      </if>
      <if test="buildStart != null">
        #{buildStart,jdbcType=DATE},
      </if>
      <if test="buildFinish != null">
        #{buildFinish,jdbcType=DATE},
      </if>
      <if test="buildLeak != null">
        #{buildLeak,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null">
        #{buildArea,jdbcType=FLOAT},
      </if>
      <if test="buildDelete != null">
        #{buildDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ha5fun.finalwork.pojo.RpmsBuildPojo">
    update RPMS_build
    <set>
      <if test="buildName != null">
        build_name = #{buildName,jdbcType=VARCHAR},
      </if>
      <if test="buildStart != null">
        build_start = #{buildStart,jdbcType=DATE},
      </if>
      <if test="buildFinish != null">
        build_finish = #{buildFinish,jdbcType=DATE},
      </if>
      <if test="buildLeak != null">
        build_leak = #{buildLeak,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null">
        build_area = #{buildArea,jdbcType=FLOAT},
      </if>
      <if test="buildDelete != null">
        build_delete = #{buildDelete,jdbcType=INTEGER},
      </if>
    </set>
    where build_id = #{buildId,jdbcType=INTEGER}
  </update>






  <update id="updateByPrimaryKey" parameterType="com.ha5fun.finalwork.pojo.RpmsBuildPojo">
    update RPMS_build
    set build_name = #{buildName,jdbcType=VARCHAR},
      build_start = #{buildStart,jdbcType=DATE},
      build_finish = #{buildFinish,jdbcType=DATE},
      build_leak = #{buildLeak,jdbcType=VARCHAR},
      build_area = #{buildArea,jdbcType=FLOAT},x
      build_delete = #{buildDelete,jdbcType=INTEGER}
    where build_id = #{buildId,jdbcType=INTEGER}
  </update>
</mapper>